* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#search-b{
    width: 100%;
}

/*.container-fluid{*/
/*    !*border: 2px solid red;*!*/
/*    !*display: flex;*!*/
/*}*/

/*.container-fluid form{*/
/*    !*border: 2px solid black;*!*/
/*    margin-left: auto;*/
/*    margin-right: 1em;*/
/*}*/

.jumbotron{
    background-image: url("../img/pizza.png");
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    height: 346px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron h1{
    /*border: 2px solid red;*/
    background: #fefcfb8a;
    /*min-width: 100%;*/
    text-align: center;
    /*align-items: center;*/
    /*width: 100%;*/
    /*justify-content: center;*/
}

/*.card{*/
/*    border: 2px solid red;*/
/*}*/


