* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#search-b{
    width: 100%;
}

#signup{
    /*border: 2px solid red;*/
    text-decoration: none;
    color: dimgrey;
}

.jumbotron{
    background-image: url("../img/pizza.png");
    height: 346px;
    background-size: cover;
}

.jumbotron h1{
    background: #fefcfb8a;
    text-align: center;
}


