/* All your custom styles for this site go here */

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*.page-wrapper{*/
/*    min-height: 100dvh;*/
/*    background-color: black;*/
/*    color: red;*/
/*    display: flex;*/
/*}*/


body {
    font-family: 'Montserrat', sans-serif;
}
.page-wrapper {
    background-color: #D9D9D9;
    /*border: 4px solid red;*/
}
.container.login {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 45px 25px;
    width: calc(100% - 40px);
    max-width: 530px;
    box-shadow: 0px 0px 104px -40px rgba(0, 0, 0, 0.25);
    z-index: 100;
}

.container.login h1 {
    font-size: 22px;
    text-align: center;
}

input {
    min-height: 55px;
    border: 1px solid #DDDFE1;
    padding: 0px 10px;
    font-family: inherit;
    font-size: 15px;
}

input:placeholder {
    color: #ABAFB3;
}

label.input-group {
    display: flex;
    flex-direction: column;
}

label.input-group span {
    font-size: 16px;
    font-weight: 600;
}

label.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

label.checkbox span {
    font-size: 13px;
    color: #ABAFB3;
}

a.link {
    font-size: 13px;
}

button.btn {
    min-height: 55px;
    border: none;
    border-radius: 99px;
    background-color: #AA04F9;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

button.btn.btn-login {
    align-self: center;
    flex: 0 1 auto;
    min-width: 250px;
}

#wave-bottom{
    position: fixed;
    bottom: 5px;
    /*right: 100px*/
    /*top: 420px;*/
}

#wave-top{
    position: fixed;
    /*left: 50px;*/
    /*border: 2px solid red;*/
    bottom: 0;
    /*top: 0;*/
}
#dots1{
    /*border: 2px solid red;*/
    position: fixed;
    top: 250px;
    left: 150px;
}

#dots2{
    position: fixed;
    right: 100px;
    top: 10px;
}

#wavey1{
    /*border: 2px solid red;*/
    position: absolute;
    top: 10px;
    left: 25px;
}

#wavey2{
    position: absolute;
    right: 20px;
    top: 325px;
    /*border: 2px solid red;*/
}

.close{
    text-decoration: none;
    color: black;
    border-radius: 50%;
    /*box-shadow: whitesmoke;*/
    box-shadow: inset 5em 1em ghostwhite;
    /*box-shadow: 0px 0px 104px -40px rgba(0, 0, 0, 0.25);*/
    padding: 0.5em;
    width: 40px;
    height: 40px;
    border: none;
    /*position: fixed;*/
    position: relative;
    /*left: 10px;*/
    /*padding: ;*/
    left: 255px;
    bottom: 55px;
    /*top:140px;*/
    /*right: 10px;*/
    /*font-size: 30px;*/
}

.x{
    font-size: 40px;
    position: relative;
    bottom: 18px;
    left: 1px;
    font-weight: 250;
}

/*.material-symbols-outlined{*/
/*    background-color: white;*/
/*    color: black;*/
/*    width: 23px;*/
/*    height: 23px;*/
/*    border-radius: 100%;*/
/*    position: relative;*/
/*    bottom: 90px;*/
/*}*/


